.sectionGames {
	display: flex;
	align-items: stretch;
}

.games {
	border: 1px solid grey;
	margin: auto 15px;
	padding: 1%;
}

.menuGame {
	display: flex;
}

.menuGame ul {
	display: flex;
}

.menuGame ul li {
	margin:auto 15px;
}